* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: 0 auto;}

h1 {
  margin-top: 25px;
  margin-bottom: 15px;
}

#content {
  overflow: auto;
}

#nav, #feature, #footer {
  margin: 1%;
}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

.column3 {
  margin-right: 0%;
}

li {
  display: inline;
  padding: 0.5em;
}

#nav, #footer {
  background-color: #efefef;
  padding: 0.5em 0;
}

#feature, .article {
  height: 10em;
  margin-bottom: 1em;
  background-color: #efefef;
}

.feature {
  width: 47.6%;
  display: inline-block;
}

/*All Media Queries*/
/* Extra small devices (phones, 600px and down) */
/*Means under */
@media only screen and (max-width: 600px) {

  body {
    background-color: purple;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
/*Means Over*/
@media only screen and (min-width: 600px) {
  
  body {
    background-color: yellow;
  }
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: green;
  }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: black;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
